<div class="jumbotron mt-4 grande">
    <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet expedita consectetur laborum ducimus dolores aliquam in debitis fugiat incidunt quos?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil dolor quam, similique enim omnis iste! Accusamus eum in necessitatibus nam ut, minima maiores quam fuga! Obcaecati, quia! Ratione possimus tempora mollitia necessitatibus eius optio dicta, tempore similique beatae reprehenderit alias nam dignissimos perferendis fuga magnam in enim ipsum repellat corrupti?</p>
</div>